:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975;
}

.logo {
    background-color: orange;
    color: white;
    text-align: center;
    margin-top: 100 px;
    margin-bottom: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: semi-condensed;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 100px;
    margin-right: 100px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 1.5ren;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.copy legal {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left {
    height: 200px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1641155785005-ffeb605006d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
}

.left p {
    font-weight: 400;
}

.right .copy {
    color: black;
    text-align: center;
}

.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.right form {
    width: 328px;
}

form input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid orange;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label {
    display: black;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.submit-btn {
    width: 100%;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: orange;
    cursor: pointer;
    margin-bottom: 10px;
}

.button2-btn {
    width: 100%;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    padding: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.timer {
    color: orange;
    border: dashed;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}


@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }
    .left, .right {
        display: flex;
        width: 50%;
        height: auto;
    }
}


